<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>

<body>
    <center><h1>Plantão G1</h1></center> 
    {% for noticia in noticias %}
        {% if noticia.publicado %}

            <div style="margin-left:50px;margin-right:50px"></br> 

                <h2><a href="/noticias/{{noticia.pk}}">{{ noticia.titulo }}</a></h2>

                <div style="margin-left:50px;margin-right:50px">

                        <div style="margin-right:-50px; font-size: 13px; text-align: right">
                            {% for tag in noticia.tags.all %}
                                <a href="{% url 'tag' tag.slug %}">{{ tag }}</a>
                            {% endfor %}
                            <p>{{ noticia.data_criacao}}</p></br>
                        </div>
                </div>

            </div>
            <hr>
        {% endif %}
    {% endfor %}

</body>
</html>