<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>{{ tag.capitalize }}</title>
</head>

<body>
    <h2>Notícias encontradas:</h2>
    {% for n in noticia %}
        <div style="margin-left:50px;margin-right:50px"></br> 
            <h2><a href="/noticias/{{n.pk}}">{{ n.titulo }}</a></h2>
            <div style="margin-left:50px;margin-right:50px">
                <div style="margin-right:-50px; font-size: 12px">
                    <p align="right">{{ noticia.data_criacao}}</p></br>
                </div>
            </div>
        </div>
    {% endfor %}
    <a href="{% url 'home' %}">Voltar</a>
</body>
</html>